<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    <form [formGroup]="clientForm" class="generic-form" style="margin-top: 12px;">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required maxlength="100" />
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required maxlength="255"/>
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" maxlength="20"/>
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" maxlength="500"/>
          </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button (click)="save()" [disabled]="!clientForm.valid" cdkFocusInitial>Ok</button>
</mat-dialog-actions>