<nav class="main-menu-nav">
    <h1>ProAccounting</h1>

    <ul>
        <li>
            <a routerLink="/dashboard">
                <mat-icon aria-hidden="false" aria-label="Dashboard" fontIcon="dashboard"></mat-icon>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/clients">
                <mat-icon aria-hidden="false" aria-label="Clients" fontIcon="people_alt"></mat-icon>
                <span>Clients</span>
            </a>
        </li>
        <li>
            <a routerLink="/ledgerAccounts">
                <mat-icon aria-hidden="false" aria-label="Ledger Accounts" fontIcon="library_books"></mat-icon>
                <span>Ledger Accounts</span>
            </a>
        </li>
        <li>
            <a routerLink="/ledgerEntries">
                <mat-icon aria-hidden="false" aria-label="Ledger Entries" fontIcon="menu_book"></mat-icon>
                <span>Ledger Entries</span>
            </a>
        </li>
        <li>
            <a routerLink="/invoices">
                <mat-icon aria-hidden="false" aria-label="Invoices" fontIcon="monetization_on"></mat-icon>
                <span>Invoices</span>
            </a>
        </li>
        <li>
            <a routerLink="/payments">
                <mat-icon aria-hidden="false" aria-label="Payments" fontIcon="receipt_long"></mat-icon>
                <span>Payments</span>
            </a>
        </li>
    </ul>
</nav>