.clients-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 16px;
}

.action-button {
    background: none;
    border: none;
    color: var(--mat-sys-primary);
    cursor: pointer;
}

.clients-container {
    min-width: 700px;
    overflow-x: auto;
    height: 100%;
}