.clients-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.action-button {
    background: none;
    border: none;
    color: var(--mat-sys-primary);
    cursor: pointer;
}